body{
  font-family: 'Lato', sans-serif;
}

header{
  position: relative;
  z-index: 10000000;
}

p{
  font-size: 1.15rem;
}

.navbar{
  background: transparent !important;
  transition: 0.5s;
}

.navbar.scrolled{
  background: #000 !important;
  transition: 0.5s;
}





.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #000;
  background: #ffffff;
}

.navbar-light .navbar-nav .active>.nav-link:hover{
  color:#000;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav, .nav-link:hover,
.navbar-light .navbar-nav, .nav-link:focus{
  color: rgba(255,255,255,1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visted{
  color: rgba( 255, 255, 255, 1);
  font-size: 2.5rem;
  font-weight: 600;
}

.banner{
  position: relative;
  top:0;
  left:0;
  width:100%;
  height: 100vh;
  background: url('sunyu-Ovtn5IJQGAw-unsplash-2.jpg');
  background-size: cover;
}

.banner:before{
  content:'';
  position: absolute;
  top:0;
  width:100%;
  height:400px;
  background: linear-gradient(#000,transparent);
  pointer-events: none;
}


.banner:after{
  content:'';
  position: absolute;
 bottom:0;
  left:0;
  width:100%;
  height:400px;
  background: linear-gradient(360deg,#000,transparent);
  pointer-events: none;
}

.height100p{
  height: 100vh;
  margin-bottom: 0;
}

.h100{
  height:100%;
}

.contentBox{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  z-index: 10;
}

.contentBox h1{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6rem;
  color:white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.contentBox p{
  color: white;
  font-size:1.5rem;
}

.sec1{
  padding: 100px 0;
  background: linear-gradient(#b60797,#1b0516);


}

.headerText h1{
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
}

.headerText{
  color:white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.placeBox{
  position: ;
  max-width: 300px;
  height:350px;
  margin:0 auto;
  background:#2d089a;
  opacity: 0.;
  margin-top:30px;


}


.placeBox .imgBx{


}

.placeBox .imgBx img{
 object-fit: scale-down;
  width: 100%;
  height:100%;

}

.placeBox .content h3{
  position: ;
  margin:0;
  padding: 10px;
  background: ;
  color: white;
  font-weight: 600;
  width:100%;
  text-align:center;
  
}

.sec2{
  position: relative; 
  height: 100vh;
  background-color: #222523;
 
}

.sec2{
  position: relative;
  height: 100vh;
  background-color: #000;

}

.sec2 h2{
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.btnD1{
  border: 2px solid #fff;
  color:#000;
  background:#F2F4F2;
  border-radius: 50px;
  padding: 10px;
  font-size:1.2rem;
  outline:none;
  margin-top: 20px;
}



.blog{
  position: relative;
  width:100px 0;
  background: linear-gradient(transparent,#b60797);
  display:flex;
  justify-content: center;
  min-height: 20vh;
}

.icons{
  padding-top: 20px;
  margin: 30px;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background:#000;
}




.contact{
  position: relative;
  height:;
  color:white;
  font-size: 1.3rem;
  background: linear-gradient(#24061e,#000);
}

footer{
  background: transparent;
  padding: 50px 0 0;
}

.sci{
  margin: 0;
  padding:0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.sci li{
  list-style: none;
  margin: 0 20px;
}

.sci li a{
  color: #777;
  font-size: 2em;
  transition: 0.5s;
}

.sci li a:hover{
  color:#fff;
}

.crypt{
  text-align: center;
  color:777;
  margin-top: 20px;
}

.crypt a,
.crypt a:hover{
 color:#fff;
}

